<center>
<form class='loginform'>
<div>
	<h2>Enter Your Info To Sign-In!</h2>
	<label for="email">Email:&nbsp&nbsp&nbsp&nbsp</label><input id="email" name="email"><br>
	<label for="password">Password:</label><input type="password" id="password" name="password"></div>
	<button value="submit" class="btn btn-primary">Submit!</button>
</form>
</center>
