<div id="main">
<center>
<form class='loginform'>
<div>
	<h2>Enter Your Info To Sign-In!</h2> 
	<table>
	<tr>
	<td><label for="email">Email:&nbsp&nbsp&nbsp&nbsp</label></td>
	<td><input id="email" name="email"></td>
	</tr>
	<tr>
	<td><label for="password">Password:</label></td>
	<td><input type="password" id="password" name="password"></td>
	</tr>

	</table>
	<button value="submit" class="btn btn-success">Submit!</button>
	</div>
</form>
</center>
</div>