<!doctype html>
<html>
<head>

</head>
<body>

<%= @mission_statement %>

<div class="bulletin-box"></div>
	

	
<script>
//implement loop through pet array
 	
$(document).ready(function(){
	var print_bulletins = function (posts, pics){
		_.each(posts,function(post){
		$('.bulletin-box').append(lostBulletin(post))
			})
	}
	//print posts!
	print_bulletins(<%= @posts %>)

	$("#footer").append('<center>"Business info, contact us, etc."</center>')



}) //end doc ready


</script>



