<!doctype html>
<html>
<head>

</head>
<body>
<div id='main' class="container-fluid">
<%= @mission_statement %>

<div class="bulletin-box"></div>

</div>
	
<script>
//implement loop through pet array
	var lost = MissingPet.	

	$('.bulletin-box').append(frontpageAlert(b))

$(document).ready(function(){
	$("#footer").append('<center>"Business info, contact us, etc."</center>')



}) //end doc ready


</script>



