<!doctype html>
<html>
<head>

</head>
<body>
<div id='main' class="container-fluid">
	<div class="col-md-4"></div><div class="mission col-md-4"><p>Connect with other people in your area to find your missing pet.</p></div><div class="col-md-4"></div>
</div>
<div class="bulletin-box"></div>
<!-- <div class="col-md-1"></div>

<div class="col-md-4 bulletin"></div>
<div class="col-md-2"></div>

<div class="col-md-4"></div>
<div class="col-md-1"></div> -->


	
<script>
a = {dogname: "pluto", location: "outer space"}
$('.bulletin-box').append(frontpageAlert(a))

</script>
</body>
</html>


