<!doctype html>
<html>
<head>

</head>
<body>
<div id='main' class="container-fluid">
	<div class="col-md-4"></div><div class="mission col-md-4"><p>Connect with other people in your area to find your missing pet.</p></div><div class="col-md-4"></div>
</div>

	

</body>
</html>
