<!doctype html>
<html>
<head>

</head>
<body>
<div id='main' class="container-fluid">
	<div class="col-md-4"></div><div class="mission col-md-4"><p>Connect with other people in your area to find your missing pet.</p></div><div class="col-md-4 missionfill"></div>

<div class="bulletin-box"></div>
<!-- <div class="col-md-1"></div>

<div class="col-md-4 bulletin"></div>
<div class="col-md-2"></div>

<div class="col-md-4"></div>
<div class="col-md-1"></div> -->

</div>
	
<script>
a = {dogname: "pluto", location: "outer space", image: "http://www.ppmapartments.com/blog/wp-content/uploads/2013/10/dog-ball.jpg"}
$('.bulletin-box').append(frontpageAlert(a))

b = {dogname: "fitz", location: "france", image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv8an5wuwb3DuVyQePS_oEx2z8z91ZqJfOX0W1DM1NU2XMuLjfbg"}
$('.bulletin-box').append(frontpageAlert(b))

$(document).ready(function(){
	$("#footer").append('<center>"Tell Greg to put something witty in the footer"</center>')
})
</script>



