<div class="bulletin-box"></div>
	
</div>

<script>
//implement loop through pet array
 	
$(document).ready(function(){
	var print_bulletins = function (posts){
		_.each(posts,function(post){
		$('.bulletin-box').append(lostBulletin(post))
			})
	}
	//print posts!
	print_bulletins(<%= @bulletins %>)


}) //end doc ready


</script>

