
#login
{
		
	float:right;
	margin-right: 37px;
	padding:5px;

}
#login a:hover{
	text-decoration:none;
	color:white;
}
#title
{
	margin-left: 20px;
}

body
{
		/*background-image: url(	); */
	background-repeat: no-repeat;
    background-position: left top;
    background-origin: border-box;
    color: white;
}
body a{
	color:white;
}
#header 
{
	background-color: #337AB7; 
	padding: 15px;
	margin-bottom: 10px;

	-webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
}
#dropcloth
{
	background-color:white;
	padding-bottom: 2px;
	-webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75),
						-7px 7px 14px 0px rgba(50, 50, 50, 0.75);
}
#main
{
	height:100%;
	color:white;
	/*display: initial;*/
	
}
#content
{
	background-color: #337AB7;
	border-radius: 25px;
	margin-bottom: 1px;
	margin-left: 10%;
	margin-right: 10%;

}
.form-control
{
	width: inherit !important;
}
.loginform
{
	/*margin-top:15%; */
	opacity: .7;
	background-color: #337AB7;
	border-radius: 25px;
	width: 323px;
	padding: 10px;
	margin-top: 50px;
}
.loginform button
{
	margin-top:14px;
}

.bulletin-box
{
	margin-top:50px;
}
.bulletin
{
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
	opacity: .8;
	background-color: #337AB7;
	border-radius: 25px;
	-webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);	
}

.idbulletin
{
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
	opacity: .8;
	background-color: #337AB7;
	border-radius: 25px;
	-webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);	
}

.idbulletin > img
{
	max-width: 400px;
	max-height: 300px;
}
.bulletin > img
{
	max-width: 200px;
	max-height: 131px;
	float:left;
	padding: 10px;


}
.bltn-grid-buffer
{
	height:150px;
}

.comment
{
	background-color: #337AB7;
	border-radius: 25px;
	padding: 10px;
}

.commentbox
{
	height: 100px;
	width: 400px;
	color: black;
}
.mission 
{	
	opacity: .75;
	padding-top: 10px;
	text-align: center;
	font-size: 24px;
	background-color: #337AB7;
	border-radius: 25px;
	-webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);

}
.input-group, .alert-danger
{
	margin-top:13px;
}
#toolbar
{
	float:left;
	width:200px;
	border-radius: 25px;
}
#toolbar .row
{
	margin: 0 auto;
	padding-left: 26%;
	background-color: #337AB7;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	font-size: 33px;
}
.mission-container
{	
	
	margin-top: 20px;
	height: 100px;
}
#title
{
	font-family: 'Roboto Slab', serif;
	/*font-weight: 700;*/
	text-decoration:none;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, .2),
				4px 4px 6px rgba(0, 0, 0, .2),	
				4px 4px 4px rgba(0, 0, 0, .2);
}
#title:hover
{
	text-decoration:none;
	color:white;
}

#footer {
   height:65px;
   width:100%;
   padding-top:25px;
   background-color: #337AB7;
   color:white;
}

/* NAV BAR CUSTOM STYLING SO THAT IT STOPS BEING SO UGLY! */
.navbar-default
{
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
	background-color:#449D44;
	color:#fff;
}

.navbar-default .navbar-nav>li>a
{
color: #fff;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.7),
		-1px 1px 1px rgba(0,0,0,.7),
		1px -1px 1px rgba(0,0,0,.7),
		-1px -1px 1px rgba(0,0,0,.7);
	background-color: #69d369;
}

