
#login
{
	float:right;
	margin-right: 37px;
	padding:5px;
	border:1px solid black;
}

#title
{
	margin-left: 20px;
}

#header 
{
	background-color: #CCFFFF;
	padding: 15px;
	margin-bottom: 10px;
}
#main
{
	margin-left: 20px;
}

.loginform
{
	margin-top:15%;
}



.mission 
{
	padding-top: 10px;
	text-align: center;

	font-size: 24px;
	background-color: #CCFFFF;
}

